.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.network {
    font-weight: 400;
    font-size: 1rem;
}

.network .circle {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: green;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
  }
  
.network.offline .circle {
    background: red;
}
  
.links {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul {
    list-style-type: none;
}